<!DOCTYPE html>
<html>
<head>
  <title>Darlan Ricardo - Part Developer, Part Designer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "Darlan Ricardo", root_path, class: "name"%>
    <nav>
      <%= link_to  "Articles", posts_path %>
      <a href="#">Projects</a>
      <a href="contact.html">Contact</a>
    </nav>
  </header>

  <%= yield %>

  <footer id="main_footer">
    <p class="copyright">
      &copy; 2015 Darlan Ricardo (by MackCh)
    </p>
    <nav>
      <a href="http://bit.do/drdrafts" target="_blank"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
      <a href="https://twitter.com/DarlanR" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://github.com/DarlanRic" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </nav>
    <br>
  </footer>

</body>
</html>
