<!DOCTYPE html>
<html>
<head>
  <title>Darlan Ricardo - Part Developer, Part Designer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <a href="index.html" class="name">Darlan Ricardo</a>
    <nav>
      <%= link_to  "Articles", posts_path %>
      <a href="#">Projects</a>
      <a href="contact.html">Contact</a>
    </nav>
  </header>

<%= yield %>

</body>
</html>
